Project: based on failure and right censored data, calculate the weibull parameters of the failure/censored data of brazed plate heat exchangers

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import weibull_min
from scipy.optimize import minimize

In [2]:
df = pd.read_csv('failrure_data.csv')

In [3]:
df.head()

   Time    Status
0  4.16    failed
1  3.36    failed
2  2.95    failed
3  0.31  Censored
4  3.66  Censored

In [4]:
failure = df[df['Status']=='failed']

In [5]:
failure.head(10)

   Time  Status
0  4.16  failed
1  3.36  failed
2  2.95  failed

In [6]:
censored = df[df['Status']=='Censored']

In [7]:
censored.head(10)

   Time    Status
3  0.31  Censored
4  3.66  Censored
5  3.66  Censored
6  2.40  Censored
7  6.13  Censored
8  6.13  Censored

In [8]:
fail_time = failure['Time'].values

In [9]:
fail_time

array([4.16, 3.36, 2.95])

In [10]:
censored_time = censored['Time'].values

In [11]:
censored_time

array([0.31, 3.66, 3.66, 2.4 , 6.13, 6.13])

In [12]:
def negative_log_likelihood(params):
    shape, scale = params
    
    # Calculate the log-likelihood for the failure times
    loglik_failure = np.sum(weibull_min.logpdf(fail_time, shape, scale=scale))
    
    # Calculate the log-likelihood for the right censored times
    loglik_right_censored = np.sum(weibull_min.logsf(censored_time, shape, scale=scale))
    
    # Add together to get total log-likelihood
    total_loglik = loglik_failure + loglik_right_censored
    
    # Return negative for minimization
    return -total_loglik

In [13]:
init_params = [1, 1]

# Minimize the negative log-likelihood
res = minimize(negative_log_likelihood, init_params, method='nelder-mead')

# The optimal parameters are in res.x
shape_opt, scale_opt = res.x
print(f'Optimal shape parameter: {shape_opt}')
print(f'Optimal scale parameter: {scale_opt}')

Optimal shape parameter: 2.7360148295580604
Optimal scale parameter: 6.304426520301275

In [14]:
shape = shape_opt
scale= scale_opt

In [15]:
shape

2.7360148295580604

In [16]:
scale

6.304426520301275